*{
    padding: 0;
    margin: 0;
}
body{
    background-image:url("/images/florian-hesse-G-tt424Vc4s-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1{
    border: 2px solid transparent;
    height: 20vh;
    width: 30%;
    position: relative;
    top: 100%;
    left: 35%;
    font-size: 50px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    background-color: rgba(206, 205, 205, 0.582);
    margin: 50px;
}
h1 l {
    color: white;
}
h1 m {
    color: burlywood;
}
p{
    font-size: 30px;
    color: white;
    height: 200px;
    border-radius: 10% 10%;
    background-color: rgb(216, 159, 216);
}
h2{
    color: whitesmoke;
    font-size: 30px;
}
label{
    font-size: 20px;
}
#btn{
    background-color: tomato;
}